// 超出隐藏省略号
.hide{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  // 超出两行省略号
  .hide-two{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;  
  }